* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* body {
  background-color: cadetblue;
} */

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  margin-block-end: 48px;
}

.intro-chunk {
  max-width: 400px;
  margin-inline: 24px;
  margin-block: 96px 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  margin-block-end: 16px;
  font-size: 1.25rem;
  line-height: 150%;
}

main {
  border-top: 8px solid hsla(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
  padding-block: 64px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsla(0deg, 0%, 60%);
  padding: 8px 24px 24px;
}

.indented-heading {
  max-width: fit-content;
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding-block: 12px;
  padding-inline: 32px;
  margin-inline-start: -32px;
  margin-block: 0 16px;
}